body {
  font-family: 'Roboto Slab', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #222;

  font-size: 140%;
  background-position: center;
  background-size: 110%;
  border-radius: 50%; 
  overflow: hidden; 
}



.card {
  background: #0c070cd0;
  box-shadow: 10px 6px 17px #000000;
  color: #f7f7f7;
  padding: 2em;
  border-radius: 100 solid black;
  width: 100%;
  max-width: 420px;
  margin: 2em;
}


.search {
  display: flex;
  align-items: normal;
  justify-content: flex-end;
  padding: 2em;
  border-radius: 243%;
  width: 82%;
  max-width: 514px;
  
}

.city{
  margin: 0 auto;
  font-size: 150%;
}
.date{
  padding-left: 2.2em;
}

button {
  margin: 0.3em;
  border-radius: 100%;
  border: none;
  height: 44px;
  width: 44px;
  outline: none;
  background: #3830382b;
  color: rgb(255, 236, 236);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

input.search-bar {
  color: rgb(255, 252, 252);
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 10px;
  background: #68034d44;
  font-size: 110%;

}

button:hover {
  background: #7c7c7c6b;
  color: #cfcdcd;
}

h1.temp {
  margin: 0;
  margin-bottom: 0.4em;
  padding-left: 3em;
}

.icon {
  padding-left: 7em;
  width: 22%;
  padding-top: 0em;
}


.flex {
  display: flex;
  align-items: center;
}

.description {
  text-transform: capitalize;
  margin-left: 8px;
  font-size: 120%;
  padding-left: 4em;
}

.humidity {
  padding-left: 6em;
}
.wind {
  padding-left: 4em;
}

.weather.loading:after {
  visibility: visible;
  content: "Loading...";
  color: white;
  position: absolute;
  top: 0;
  left: 20px;
}
